* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS'
    
}

header {
    height: 100px;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    align-content: center;

}



main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    gap: 15px;
    background: linear-gradient(90deg, 
    rgba(79,79,79,1) 0%, 
    rgba(54,54,54,1) 24%, 
    rgba(46,46,46,1) 43%, 
    rgba(28,28,28,1) 66%, 
    rgba(0,0,0,1) 83%);
    background: linear-gradient(90deg, 
    rgba(0,0,0,1) 0%,       /* Preto */
    rgba(28,28,28,1) 24%,   /* Cinza Escuro - #1C1C1C */
    rgba(255,0,0,1) 43%,    /* Vermelho */
    rgba(28,28,28,1) 66%,   /* Cinza Escuro - #1C1C1C */
    rgba(0,0,0,1) 83%,      /* Preto */
    rgba(0,0,0,1) 100%);    /* Preto */
  background-size: 300% 100%; /* Define o tamanho inicial do gradiente */
  animation: moveGradient 6s linear infinite; /* Aplica a animação */
}

/* Define a animação que faz o gradiente se mover */
@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%; /* Movimento do gradiente de 0% a 100% */
  }
}


.poke {
    width: 340px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.poke:hover {
    background-color: #B0E0E6;
    transform: scale(1.07);
}

.poke img {
    width: 308px;
    height: 163px;
    object-fit: cover;
}

.poke h2 {
    margin: 15px 0px;
}

.poke p {
    font-size: 12px;

}

.card {
    width: 360px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.card:hover {
    background-color: #98FB98;
    transform: scale(1.07);
}

.card img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.card h2 {
    margin: 15px 0px;
}

.card p {
    font-size: 12px;

}

.red {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.red:hover {
    background-color: #FF6347;
    transform: scale(1.07);
}

.red img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.red h2 {
    margin: 15px 0px;
}

.red p {
    font-size: 12px;

}

.grass {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.grass:hover {
    background-color: #98FB98;
    transform: scale(1.07);
}

.grass img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.grass h2 {
    margin: 15px 0px;
}

.grass p {
    font-size: 12px;

}
.water {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.water:hover {
    background-color: #87CEFA;
    transform: scale(1.07);
}

.water img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.water h2 {
    margin: 15px 0px;
}

.water p {
    font-size: 12px;

}

.bug {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.bug:hover {
    background-color: #6B8E23;
    transform: scale(1.07);
}

.bug img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.bug h2 {
    margin: 15px 0px;
}

.bug p {
    font-size: 12px;

}

.normal {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.normal:hover {
    background-color: #B0C4DE;
    transform: scale(1.07);
}

.normal img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.normal h2 {
    margin: 15px 0px;
}

.normal p {
    font-size: 12px;

}

.poison {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.poison:hover {
    background-color: #BA55D3;
    transform: scale(1.07);
}

.poison img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.poison h2 {
    margin: 15px 0px;
}

.poison p {
    font-size: 12px;

}

.eletric {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.eletric:hover {
    background-color: #F0E68C;
    transform: scale(1.07);
}

.eletric img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.eletric h2 {
    margin: 15px 0px;
}

.eletric p {
    font-size: 12px;

}

.ground {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.ground:hover {
    background-color: #FFE4C4;
    transform: scale(1.07);
}

.ground img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.ground h2 {
    margin: 15px 0px;
}

.ground p {
    font-size: 12px;

}

.fairy {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.fairy:hover {
    background-color: #FF69B4;
    transform: scale(1.07);
}

.fairy img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.fairy h2 {
    margin: 15px 0px;
}

.fairy p {
    font-size: 12px;

}

.finghting {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.finghting:hover {
    background-color: #A52A2A;
    transform: scale(1.07);
}

.finghting img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.finghting h2 {
    margin: 15px 0px;
}

.fighting p {
    font-size: 12px;

}

.psychic {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.psychic:hover {
    background-color: #C71585;
    transform: scale(1.07);
}

.psychic img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.psychic h2 {
    margin: 15px 0px;
}

.psychic p {
    font-size: 12px;

}

.rock {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.rock:hover {
    background-color: #FFDAB9;
    transform: scale(1.07);
}

.rock img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.rock h2 {
    margin: 15px 0px;
}

.rock p {
    font-size: 12px;

}

.ghost {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.ghost:hover {
    background-color: #D8BFD8;
    transform: scale(1.07);
}

.ghost img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.ghost h2 {
    margin: 15px 0px;
}

.ghost p {
    font-size: 12px;

}

.dragon {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.dragon:hover {
    background-color: #7B68EE;
    transform: scale(1.07);
}

.dragon img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.dragon h2 {
    margin: 15px 0px;
}

.dragon p {
    font-size: 12px;

}

.ice {
    width: 300px;
    height: 500px;
    background-color: rgb(190, 204, 204);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #fff;
    margin-bottom: 30px;
    transition: transform 0.9s ease;
}

.ice:hover {
    background-color: #F0F8FF;
    transform: scale(1.07);
}

.ice img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.ice h2 {
    margin: 15px 0px;
}

.ice p {
    font-size: 12px;

}
.card img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.card h2 {
    margin: 15px 0px;
}

.card p {
    font-size: 12px;

}

footer {
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: right;
    align-content: center;
    font-size: 16px;
}